// TEST BG FOR DIFFERENTIATING PIECES
// $bg1: blue, coral, rgb(145, 12, 12), hotpink, gold, deepskyblue, orange,
//   rgb(105, 84, 105), lightcoral, olive, rgb(255, 255, 255), rgb(7, 85, 62),
//   greenyellow, deeppink, navy, firebrick, rgb(255, 255, 255), orangered, wheat,
//   rgb(255, 255, 255), aqua, rgb(132, 0, 255), rgb(42, 112, 165), rgb(255, 68, 0),
//   pink, green, lightgreen, rgb(255, 71, 114), #5f8182, limegreen;

// ///////////////////////////// //
// SLOTH
$bg-sloth: #7a4930, #51343c, #5a4f47, #3c2c18, #937057, #715137, #e0ae5b,
  #e0ae5b, #51343c, #c1b0a2, #3c2e21, #333128, #5a5c6f, #303530, #54443b,
  #655451, #8b5e3e, #946856, #9f7358, #805e49, #937a71, #6c5e50, #7e564a,
  #654b3c, #3b372f, #494240, #46392f, #8b6a5d, #5a4f47, #5a4f47, #1f1d17;

$path-sloth: polygon(385px 194px, 462px 278px, 542px 200px),
  polygon(445px 75px, 159px 216px, 464px 88px),
  polygon(467px 182px, 495px 160px, 528px 210px),
  polygon(386px 82px, 385px 194px, 492px 218px),
  polygon(429px 167px, 501px 137px, 473px 265px),
  polygon(546px 196px, 501px 137px, 473px 265px),
  polygon(447px 168px, 442px 193px, 480px 170px),
  polygon(499px 172px, 528px 183px, 528px 210px),
  polygon(156px 213px, 151px 429px, 168px 229px),
  polygon(512px 192px, 495px 160px, 442px 193px),
  polygon(442px 193px, 468px 175px, 488px 192px),
  polygon(490px 192px, 512px 184px, 528px 210px),
  polygon(488px 190px, 460px 197px, 505px 206px),
  polygon(482px 213px, 460px 197px, 505px 206px),
  polygon(350px 298px, 372px 337px, 258px 350px),
  polygon(462px 278px, 527px 357px, 585px 347px),
  polygon(462px 278px, 385px 194px, 350px 298px),
  polygon(350px 298px, 383px 230px, 248px 280px),
  polygon(239px 283px, 314px 222px, 383px 230px),
  polygon(248px 280px, 350px 298px, 244px 360px),
  polygon(258px 350px, 240px 375px, 202px 258px),
  polygon(249px 275px, 286px 244px, 239px 162px),
  polygon(385px 194px, 421px 234px, 308px 221px),
  polygon(350px 298px, 372px 337px, 462px 278px),
  polygon(462px 278px, 372px 337px, 383px 384px),
  polygon(462px 278px, 499px 330px, 380px 385px),
  polygon(462px 278px, 499px 330px, 546px 196px),
  polygon(527px 357px, 585px 347px, 594px 336px),
  polygon(359px 99px, 386px 82px, 400px 136px),
  polygon(258px 350px, 240px 375px, 383px 384px);

// ///////////////////////////// //
// WHALE
$bg-whale: #3b4651, #0f1522, #d5ecdf, #2e4643, #101619, #d5ecec, #5a8480,
  #313c40, #1a2529, #b9d1d1, #0c1417, #d5ecec, #a4c9c7, #243637, #416662,
  #5a8480, #2e4643, #32504e, #2a3c3b, #20282f, #d6e3de, #6a9c99, #365656,
  #416662, #32504e, #baded4, #456565, #2a3c3b, #5f8182, #2f5456;

$path-whale: polygon(116px 236px, 139px 240px, 81px 305px),
  polygon(139px 240px, 118px 285px, 81px 305px),
  polygon(118px 285px, 108px 305px, 81px 305px),
  polygon(81px 305px, 108px 305px, 81px 315px),
  polygon(108px 305px, 97px 322px, 81px 315px),
  polygon(108px 305px, 97px 322px, 243px 322px),
  polygon(141px 291px, 118px 285px, 139px 240px),
  polygon(141px 291px, 108px 305px, 118px 285px),
  polygon(141px 291px, 126px 307px, 108px 305px),
  polygon(141px 291px, 126px 307px, 243px 322px),
  polygon(200px 319px, 246px 317px, 282px 351px),
  polygon(254px 251px, 243px 322px, 407px 322px),
  polygon(254px 251px, 243px 322px, 141px 291px),
  polygon(139px 240px, 274px 179px, 116px 236px),
  polygon(141px 291px, 139px 240px, 264px 217px),
  polygon(264px 217px, 254px 251px, 141px 291px),
  polygon(209px 291px, 295px 307px, 314px 339px),
  polygon(415px 190px, 139px 240px, 297px 169px),
  polygon(274px 179px, 352px 117px, 349px 183px),
  polygon(209px 291px, 314px 339px, 347px 367px),
  polygon(254px 251px, 407px 322px, 436px 265px),
  polygon(264px 217px, 254px 251px, 436px 265px),
  polygon(415px 190px, 407px 213px, 264px 217px),
  polygon(264px 217px, 436px 265px, 407px 213px),
  polygon(415px 190px, 436px 265px, 407px 213px),
  polygon(436px 265px, 547px 251px, 407px 322px),
  polygon(436px 265px, 547px 251px, 415px 190px),
  polygon(415px 190px, 547px 251px, 605px 218px),
  polygon(574px 220px, 646px 230px, 702px 205px),
  polygon(574px 220px, 628px 202px, 702px 205px);

// ///////////////////////////// //
// FROG
$bg-frog: #ffd700, #4caf50, #2c6b2e, #573f02, #ffec80, gold, #f1e082, #d0b000,
  #c0a30b, #d6d2bd, #191919, black, #edc737, #ffd700, #573f02, #ffd700, #ffe662,
  #d4b303, #ebca1a, #ffe662, #ffed8f, #dbc44a, #ffe662, #c5b041, #917a00,
  #ffd700, #112a12, #ffe142, #ffe351, #ffe662;

$path-frog: polygon(320px 206px, 386px 295px, 320px 304px),
  polygon(186px 353px, 368px 446px, 573px 449px),
  polygon(186px 353px, 408px 347px, 573px 449px),
  polygon(530px 352px, 466px 384px, 437px 349px),
  polygon(227px 154px, 267px 142px, 294px 158px),
  polygon(261px 157px, 294px 158px, 320px 206px),
  polygon(320px 206px, 294px 158px, 410px 220px),
  polygon(197px 196px, 269px 250px, 261px 157px),
  polygon(261px 157px, 269px 250px, 320px 206px),
  polygon(262px 163px, 235px 189px, 277px 201px),
  polygon(235px 189px, 258px 181px, 277px 201px),
  polygon(235px 189px, 247px 209px, 277px 201px),
  polygon(269px 250px, 320px 206px, 322px 268px),
  polygon(284px 286px, 269px 250px, 322px 268px),
  polygon(296px 277px, 391px 360px, 331px 339px),
  polygon(320px 206px, 410px 220px, 386px 295px),
  polygon(386px 295px, 410px 220px, 490px 328px),
  polygon(386px 295px, 490px 328px, 391px 360px),
  polygon(391px 360px, 490px 328px, 406px 418px),
  polygon(406px 418px, 456px 364px, 545px 374px),
  polygon(545px 374px, 482px 432px, 431px 426px),
  polygon(386px 295px, 391px 360px, 324px 302px),
  polygon(284px 286px, 322px 268px, 362px 326px),
  polygon(362px 326px, 334px 313px, 282px 377px),
  polygon(282px 377px, 362px 326px, 310px 387px),
  polygon(193px 165px, 197px 196px, 234px 173px),
  polygon(186px 353px, 204px 404px, 219px 370px),
  polygon(197px 196px, 210px 220px, 269px 250px),
  polygon(193px 165px, 234px 173px, 227px 154px),
  polygon(227px 154px, 234px 173px, 261px 157px);

// ///////////////////////////// //
// BEAR
$bg-bear: #bda282, #4e3e31, #a18569, #4f4134, #352a1e, #312921, #584531, #493c31,
  #423428, #4f4134, #242016, #372f1f, #a97325, #d1994f, #4e3e31, #493c31,
  #4d4236, #574737, #292417, #262420, #423428, #574737, #372f1f, #362d24,
  #312a16, #29251a, #352c26, #3b322e, #3b322a, #524034;

$path-bear: polygon(214px 83px, 236px 63px, 236px 100px),
  polygon(214px 83px, 220px 78px, 220px 88px),
  polygon(236px 107px, 236px 63px, 255px 98px),
  polygon(255px 98px, 236px 63px, 288px 70px),
  polygon(288px 70px, 364px 78px, 305px 98px),
  polygon(288px 70px, 255px 98px, 305px 98px),
  polygon(310px 23px, 270px 30px, 288px 70px),
  polygon(270px 30px, 236px 63px, 288px 70px),
  polygon(307px 26px, 288px 70px, 364px 78px),
  polygon(307px 26px, 364px 78px, 380px 54px),
  polygon(305px 98px, 334px 240px, 392px 221px),
  polygon(305px 98px, 364px 78px, 354px 106px, 391px 219px, 340px 147px),
  polygon(312px 107px, 335px 117px, 335px 151px),
  polygon(354px 107px, 335px 117px, 335px 151px),
  polygon(458px 252px, 386px 321px, 444px 354px),
  polygon(374px 49px, 354px 107px, 436px 102px),
  polygon(354px 106px, 431px 102px, 450px 149px),
  polygon(458px 252px, 386px 321px, 423px 159px),
  polygon(409px 216px, 386px 321px, 334px 240px),
  polygon(316px 152px, 330px 216px, 292px 233px),
  polygon(263px 233px, 281px 275px, 302px 198px),
  polygon(447px 147px, 443px 220px, 354px 106px),
  polygon(334px 240px, 318px 314px, 386px 321px),
  polygon(391px 220px, 444px 218px, 354px 106px),
  polygon(386px 321px, 318px 314px, 337px 378px),
  polygon(386px 321px, 337px 378px, 396px 343px),
  polygon(386px 321px, 444px 354px, 429px 404px),
  polygon(444px 354px, 446px 442px, 417px 442px),
  polygon(318px 314px, 318px 443px, 354px 434px),
  polygon(391px 220px, 444px 218px, 345px 303px);

// ///////////////////////////// //
// OSTRICH
$bg-ostrich: #f9f1e7, #bdaf90, #0d0e09, #1b1b1b, #1f1f1f, #24292a, #bcc0b5,
  #faf2e9, #212627, #363837, #1e1e1e, #0c0d08, #060606, #17140d, #c4c0b7,
  #c4c0b7, #f9f1e7, #bebebe, #cdbdaf, #aaaaaa, #e82b45, #737373, #87847d,
  #faf2e9, #c7c3bb, #bbbcb2, #9b9892, #7c7c7c, #e3c0ac, #c8c8c8;

$path-ostrich: polygon(187px 144px, 196px 199px, 243px 174px),
  polygon(243px 174px, 196px 199px, 225px 204px),
  polygon(225px 204px, 243px 174px, 249px 228px),
  polygon(249px 228px, 243px 174px, 318px 164px),
  polygon(318px 164px, 299px 181px, 336px 195px),
  polygon(299px 181px, 249px 228px, 391px 213px),
  polygon(312px 152px, 336px 195px, 391px 213px),
  polygon(312px 152px, 360px 145px, 391px 213px),
  polygon(360px 145px, 391px 213px, 481px 202px),
  polygon(360px 145px, 418px 152px, 481px 202px),
  polygon(444px 299px, 391px 213px, 481px 202px),
  polygon(249px 228px, 391px 213px, 444px 299px),
  polygon(481px 202px, 460px 260px, 504px 244px),
  polygon(481px 202px, 504px 244px, 528px 211px),
  polygon(528px 211px, 520px 173px, 481px 202px),
  polygon(493px 136px, 520px 173px, 509px 181px),
  polygon(493px 136px, 520px 173px, 498px 112px),
  polygon(487px 106px, 493px 136px, 505px 87px),
  polygon(491px 72px, 499px 73px, 487px 106px),
  polygon(499px 73px, 487px 106px, 517px 72px),
  polygon(517px 72px, 505px 87px, 536px 82px),
  polygon(368px 273px, 343px 282px, 333px 359px),
  polygon(333px 359px, 343px 333px, 358px 447px),
  polygon(400px 235px, 369px 224px, 379px 268px),
  polygon(369px 224px, 379px 268px, 280px 308px),
  polygon(280px 308px, 339px 239px, 369px 224px),
  polygon(280px 308px, 294px 303px, 341px 393px),
  polygon(341px 393px, 328px 403px, 280px 308px),
  polygon(341px 393px, 312px 415px, 315px 454px),
  polygon(494px 65px, 491px 72px, 517px 72px);
